*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    position: fixed; /* Puede ser absolute si prefieres */
    z-index: 1000; /* Un valor alto para que esté en la parte superior */
    background: rgba(0, 123, 255, 0.6); /* 0.7 controla la transparencia (0 es completamente transparente, 1 es opaco) */
    height: 60px;
    width: 100%;
}
.enlace{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 50px;
    margin-left: 20px;
    position: absolute;
    line-height: 30px;
    letter-spacing: 5px;

}

ul {
    z-index: 1000; /* Asegura que el menú esté en la parte superior de la pila de elementos */
}

nav ul{
    float: right;
    margin-right: 40px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: 'Arial', sans-serif;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

nav ul li a.active {
    color: #ffffff; /* Cambia el color al hacer clic en el enlace */
}

nav ul li a:hover {
    color: #000; /* Cambia el color al hacer hover en el enlace */
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@keyframes colorChange {
    0% {
      color: white; /* Color inicial (blanco) */
    }
    50% {
      color: #E4405F; /* Color de Instagram original */
    }
    100% {
      color: white; /* Vuelve a blanco al final de la animación */
    }
  }
  
  #menu li a[target="_blank"] i.fab.fa-instagram {
    animation: colorChange 4s linear infinite; /* La animación dura 2 segundos y se repite infinitamente */
    font-size: 30px; 
    line-height: 30px;
  }

/* Estilos para el footer */
.footer {
    background-color: #333; /* Cambia el color de fondo según tu preferencia */
    color: #fff; /* Cambia el color del texto según tu preferencia */
    padding: 20px 0; /* Espaciado interno superior e inferior */
    
  }
  
  .footer h4 {
    font-size: 18px;
  }
  
  .footer p {
    font-size: 14px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
  }
  
  .social-icons li {
    display: inline;
    margin-right: 10px;
  }
  
  .social-icons a {
    color: #fff; /* Cambia el color de los iconos según tu preferencia */
    font-size: 24px;
    text-decoration: none;
  }
  
  /* Estilos para el texto de derechos de autor */
  .footer p.text-center {
    margin-top: 20px;
    font-size: 12px;
  }
  
  /* Cambia el color del enlace en el footer */
  .footer a {
    color: #fff; /* Cambia el color de los enlaces según tu preferencia */
    text-decoration: none;
  }
  
  /* Estilos para los enlaces en el hover */
  .footer a:hover {
    text-decoration: underline;
  }
@media (max-width: 1000px){
    .enlace{
        padding-left: 15px;
    }
    nav ul li a{
        font-size: 20px;
    }
}
@media (max-width: 952px){
    .enlace{
        padding-left: 15px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    
    .checkbtn{
        display: block;
    }
    #menu {
        position: fixed;
        width: 75%;
        height: 100vh;
        background: #333;
        top: 0px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #menu li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #menu li a {
        font-size: 20px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: black;
    }

    #check:checked ~ #menu {
        left: 0;
    }

    .footer h4 {
    font-size: 16px;
  }
  
  .footer p {
    font-size: 10px;
  }
}
@media (max-width: 400px){

    .enlace{
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: #000;
        font-size: 18px;
        font-weight: bold;
        padding: 20px 50px;
        margin-left: -20px;
        position: absolute;
        line-height: 30px;
        letter-spacing: 5px;
    
    }
    .checkbtn{
        font-size: 20px;

    }
    
    .checkbtn{
        display: block;
    }
    #menu {
        position: fixed;
        width: 75%;
        height: 100vh;
        background: #333;
        top: 0px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #menu li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #menu li a {
        font-size: 18px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: black;
    }

    #check:checked ~ #menu {
        left: 0;
    }

    .footer h4 {
    font-size: 14px;
  }
  
  .footer {
    font-size: 10px;
  }
}