#introduccion {
    background:linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),
    url('/quiensoy/quiensoyfondo1.png'); /* Color de fondo de la sección */
    padding: 70px; 
    background-position: center;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
}

.contenido {
    width: 50%; /* Máximo ancho de la caja de contenido */
    background-color: #ffffff; /* Fondo blanco para la caja de contenido */
    padding: 35px;
    border: 1px solid #ddd; /* Borde de la caja de contenido */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra de la caja de contenido */
}


.contenido h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 30px;
}

.contenido p {
    color: #373737;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 20px;
}

.caja-interior {
    background-color: #e8e8e8; /* Fondo gris claro para la caja interior */
    padding: 10px;
    padding: 35px;
    margin-top: 20px; /* Espacio arriba de la caja interior */
    border: 1px solid #ccc; /* Borde de la caja interior */
}

.caja-interior a {
    margin-right: 40px;
    color: #1a1a1a;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
}



/* Estilos para adaptar a diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .contenido {
        width: 100%;
    }
}
